@keyframes slideInTop {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.About-Container {
    animation: 1s ease-out 0s 1 slideInTop;
    margin-left: 15%;
    margin-right: 15%;
}

.About-Header {
    font-size: 32px;
    color: grey;
    margin-bottom: 0px;
}

.About-Text {
    margin-top: 5px;
    font-size: 22px;
    color: grey;
}