:root {
  --primary_orange: #FFD898;
  --background_grey: darkgrey;
  --foreground_grey: #d3d3d3;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.App {
  display: flex;
  flex-direction: column;
}

.App-SortingBar-Container {
  animation: 1s ease-out 0s 1 slideInTop;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
}

.App-SortingBar-Component {
  margin-right: 10px;
  border: none;
  font-size: 20px;
  background: none;
  color: grey;
}

.App-SortingBar-Component:hover {
  cursor: pointer;
}

.App-Info {
  margin-left: 15%;
  margin-right: 15%;
}