.Navbar-Container {
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--primary_orange);

    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    border-bottom: 1px;
    border-bottom-color: grey;
    border-bottom-style: solid;
}

.Navbar-Component {
    vertical-align: middle;
    align-self: center;
}
