.PageBody-PlacesOptions-Container {
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    background-color: var(--background_grey);
    border-radius: 1em;
}

.PageBody-Places-Container {
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
}

.PageBody-PlacesOptions-Submit {
    background-color: var(--foreground_grey);
    margin-top: 15px;
    border: none;
    border-radius: 0.5em;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.PageBody-PlacesOptions-Submit:hover {
    opacity: 1;
}

.PageBody-PlacesOptions-Slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    font-weight: bold;
    background: var(--foreground_grey);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .PageBody-PlacesOptions-Slider:hover {
    opacity: 1;
  }
  
  .PageBody-PlacesOptions-Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background-image: url('car.png');
    background-size: 4em;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
  }
  
  .PageBody-PlacesOptions-Slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background-image: url('car.png');
    background-size: contain;
    background-position: center center;
    cursor: pointer;
  }